.moveTop {
    margin: 0 12px 12px 0 ;
    background: #47b2e4;
    padding: 12px;
    border-radius: 50%;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    position:fixed;
    right:0;
    bottom: 0;
    &:focus {
        background: #209dd8 ;
    }
}