@import '@/assets/styles/_helpers.scss';

.services {
    .all-services {
        padding: 60px 12px 12px;
        background-color: #f3f5fa;
        @include media-breakpoint-up(md) {
            padding: 60px 24px 24px;
        }
        @include media-breakpoint-up(xl) {
            padding: 60px 72px 72px;
        }
        .service-head {
            font-family: "Jost", sans-serif;
            font-size: 30px;
            font-weight: 700;
            height: auto;
            line-height: 30px;
            text-transform: uppercase;
            color: var(--main-colo,#47b2e4);
        }
        .line {
            display: inline-block;
            width: 10%;
            border-top: 0.2px solid #ddd;
            position: relative;
            top: 6px;
            padding-bottom: 30px;
            margin-bottom: 20px;
        }
        .line::after {
            display: block;
            content: "";
            width: 26%;
            position: relative;
            left: 36%;
            border-top: 2px solid #47b2e4;
        }
        .service-desc{
            color: #444444;
            padding-bottom: 30px;
            @include media-breakpoint-up(md) {
                // margin: 0 102px;
            }
        }
        .service-card {
            display: flex;
            flex-wrap: wrap;
            padding:0 0 50px 0 ;
            @include media-breakpoint-up(md) {
                // margin: 0 102px;
            }
            .cards {
                width: 100%;
                padding: 50px 30px;
                margin: 0 12px;
                margin-bottom: 24px;
                display: flex;
                flex-direction: column;
                background: white;
                text-align: left;
                position: relative;
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                transition:all ease-in-out 0.4s;
                @include media-breakpoint-up(md) {
                    width: 44%;
                    margin-bottom:12px;
                }
                @include media-breakpoint-up(xl) {
                    width: 22%;
                    margin-bottom:12px;
                }
                .card-icon{
                    margin-bottom: 10px;
                    font-size: 36px;
                    font-weight: 400;
                    color: #47b2e4;
                }
                .card-heading {
                    color: var(--main-color,#47b2e4);
                    font-weight: 600;
                    margin-bottom: 15px;
                    font-size: 22px;
                }
                .card-desc{
                    font-size: 14px;
                    font-weight: 400
    
                }
            }
            .cards:hover {
                transform: translateY(-10px);
                .card-heading {
                    color: #47b2e4;
                }
            }
        }
        
        
    }
    .call-action{
        padding: 120px 12px;
        background-image: linear-gradient(rgba(40, 58, 90, 0.9), rgba(40, 58, 90, 0.9)), url(../../assets/images/cta-bg.jpg);
        background-color: rgb(0, 0, 0);
        background-size: cover;
        display:flex;
        flex-direction: column;
        @include media-breakpoint-up(lg) {
            padding: 120px 112px;
            flex-direction: row;
        }
        .call-detail {
            width: 100%;
            @include media-breakpoint-up(lg) {
                width:80%;
            }
            .call-head{
                text-align:center;
                color:white;
                font-weight: 700;
                @include media-breakpoint-up(lg) {
                    text-align:left;
                }
            }
            .call-para {
                color:white;
                text-align: center;
                padding: 0;
                @include media-breakpoint-up(lg) {
                    padding-right: 50px;
                    text-align: left;
                }
            }
            
        }
        .action-btn {
            border-radius: 50px;
            border: 2px solid white;
            color:white;
            font-weight: 700;
            width: 50%;
            height: fit-content;
            padding: 12px 40px;
            margin: 10px auto;
            
            @include media-breakpoint-up(lg) {
                width:18%;
                margin: auto;
            }
        }
        .action-btn:hover {
            background-color: #47b2e4;
            border-color: #47b2e4;
        }
    }
}