<div class="footer-top">
    <div class="site-info footer-top-item">
        <h3 class="heading">ARSHA</h3>
        <div class="address">
            <div>A108 Adam Street</div>
            <p>New York, NY 535022
                United States</p>
                <div><b>Phone:</b> +1 5589 55488 55</div>
                <div><b>Email:</b> info@example.com</div>
        </div>

    </div>
    <div class="useful-link footer-top-item">
        <h6 class="heading">Useful Links</h6>
        <div class="links"><i class="fa-solid fa-greater-than"></i>Home</div>
        <div class="links"><i class="fa-solid fa-greater-than"></i>About us</div>
        <div class="links"><i class="fa-solid fa-greater-than"></i>Services</div>
        <div class="links"><i class="fa-solid fa-greater-than"></i>Terms of service</div>
        <div class="links"><i class="fa-solid fa-greater-than"></i>Privacy policy</div>
    </div>
    <div class="our-services footer-top-item">
        <h6 class="heading">Our Services</h6>
        <div class="links"><i class="fa-solid fa-greater-than"></i>Web Design</div>
        <div class="links"><i class="fa-solid fa-greater-than"></i>Web Development</div>
        <div class="links"><i class="fa-solid fa-greater-than"></i>Product Management</div>
        <div class="links"><i class="fa-solid fa-greater-than"></i>Marketing</div>
        <div class="links"><i class="fa-solid fa-greater-than"></i>Graphic Design</div>
    </div>
    <div class="our-social footer-top-item">
        <h6 class="heading">Our Services</h6>
        <p>Cras fermentum odio eu feugiat lide par naso tierra videa magna derita valies</p>
        <div class="network-icon">
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-skype"></i>
            <i class="fa-brands fa-linkedin"></i>
          </div>
    </div>
</div>