@import '@/assets/styles/_helpers.scss';

.org-section {
    display:flex;
    padding: 10px 8%;
    background-color: var(--main-color);
    flex-direction: column-reverse;
    @include media-breakpoint-up(md) {
        flex-direction: row;
        padding: 0 102px;
    }
    .org-info {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        padding: 0 20px;
        @include media-breakpoint-up(md) {
            width: 50%;
            padding: 0px;
        }
        .head-one {
            margin: 0 0 10px 0;
            font-size: 28px;
            font-weight: 700;
            color: #fff;
            font-family: "Jost", sans-serif;
            @include media-breakpoint-up(md) {
                font-size: 48px;
                line-height: 56px;
            }
        }
        .head-two {
            color: rgba(255, 255, 255, 0.6);
            margin-bottom: 50px;
            font-size: 18px;
            @include media-breakpoint-up(md) {
                font-size: 24px;
            }
        }
        .org-btn {
            display: flex;
            align-items: center;
            .started-btn {
                color: #fff;
                border-radius: 50px;
                border: 2px solid #47b2e4;
                background: #47b2e4;
                margin: 0 25px 0 0;
            }
            .started-btn:hover {
                background: #209dd8;
            }
            .video-btn {
                color: #fff;
                display: flex;
                align-items: center;
                .fa-circle-play{
                    font-size: 32px;
                    margin-right: 8px;
                }
            }
        }
    }
    .web-image {
        width: 100%;
        @include media-breakpoint-up(md) {
            width: 50%;
        }
        .org-img {
            padding: 0 0 10px 0;
            height: 265px;
            width: 100%;
            @include media-breakpoint-up(md) {
                animation: MoveUpDown 2s ease-in-out infinite alternate-reverse both;
                height: 377.656px;
                padding: 0;
                @keyframes MoveUpDown {
                    0% {
                        transform: translateY(10px);
                    }
                    100% {
                        transform: translateY(-10px);
                    }
                }
            }
           
        }
    }
    
}