<div class="org-section">
    <div class="org-info">
        <h1 class="head-one">Better Solutions For Your Business</h1>
        <h2 class="head-two">We are team of talented designers making websites with Bootstrap</h2>
        <div class="org-btn">
            <form class="form-inline">
                <button class="btn started-btn" >Get Started</button>
            </form>
            <span class="video-btn"><i class="fa-regular fa-circle-play"></i><span style="font-size: 16px;">Watch video</span></span>
        </div>
    </div>
    <div class="web-image">
        <img class="org-img" src="../../assets/images/hero-img.png">
    </div>


</div>