@import '@/assets/styles/_helpers.scss';

.newsLetter {
    background-color: #f3f5fa;
    padding: 50px 12px;
    @include media-breakpoint-up(xl) {
        padding: 40px 400px;
    }
    .letter-head {
        margin: 0 0 15px 0;
        color: var(--main-color,#47b2e4);
        font-weight: 700;
    }
    .letter-desc {
        margin: 0 0 24px 0;
    }
    form {
        input {
            border-radius: 24px;
            width: 60%;
            height: 40px;
            border: none;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            @include media-breakpoint-up(md) {
                width: 76%;
            }
            @include media-breakpoint-up(lg) {
                width: 40%;
            }
        }
    }
    .started-btn {
        border-radius: 50px;
        border: 1px solid #47b2e4;
        background-color: #47b2e4;
        padding: 8px 24px;
        color: #fff;
        font-weight: 500;
        font-size: 17px;
        position: relative;
        top: -4px;
        left: -24px;
        
    }
    .started-btn:hover, .suggested-plan {
        background-color: #209dd8;
    }
}