<div class="skills">
    <div class="skills-img">
        <img src="../../assets/images/skills.png" />
    </div>
    <div class="skills-intro">
        <div class="skills-header">
            <h2>Voluptatem dignissimos provident quasi corporis voluptates</h2>
        </div>
        <div class="skills-desc">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="skills-list">
            <div class="skill">
                <div class="skill-txt ">
                    <span>HTML</span>
                    <span>100%</span>
                </div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                </div>
            </div>
            <div class="skill">
                <div class="skill-txt">
                    <span>CSS</span>
                    <span>90%</span>
                </div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
                </div>
            </div>
            <div class="skill">
                <div class="skill-txt">
                    <span>JAVASCRIPT</span>
                    <span>75%</span>
                </div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>
                </div>
            </div>
            <div class="skill">
                <div class="skill-txt">
                    <span>PHOTOSHOP</span>
                    <span>55%</span>
                </div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 55%;"></div>
                </div>
            </div>
        </div>
    </div>
</div>