@import '@/assets/styles/_helpers.scss';

.skills {
    display:flex;
    flex-direction: column;
    @include media-breakpoint-up(md) {
        flex-direction: row;
        padding: 60px 102px;
    }
    .skills-img{
        width: 100%;
        padding: 0 12px;
        @include media-breakpoint-up(md) {
            width: 50%;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .skills-intro {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 24px 12px 12px;
        text-align: left;
        @include media-breakpoint-up(md) {
            width: 50%;
            padding: 0 12px ;
        }
        .skills-header {
            h2 {
                font-weight: 900;
                font-size: 34px;
                color: var(--main-color,#47b2e4);
                font-family: "Poppins", sans-serif;
            }
        }
        .skills-desc {
            p {
                font-size: 16px;
                font-style: italic;
                font-weight: 400;
                color:#444444;
                font-style: italic;
            }
        }
        .skills-list {
            .skill{
                margin-bottom: 20px;
                .skill-txt {
                    display:flex;
                    justify-content: space-between;
                    font-weight: 600;
                    font-family: "Poppins", sans-serif;
                    color: var(--main-color,#47b2e4);
                    font-size: 12px;
                    margin: 0 0 6px 0;
                }
                .progress {
                    height: 0.7rem;
                    border-radius: 0;
                    .progress-bar {
                        background-color: #4668a2;
                    }
                }
               
            }
        }
    }
}