<div class="team" id="orgTeam">
    <h3 class="team-heading">team</h3>
    <span class='line'></span>
    <p class="team-desc">Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
    <div class="team-container" >
        <div class="card team-card" v-for ="(member,index) in teamDetails" :key="member.name">
            <div class="card-img">
                <img class="card-img-top " :src="member.image" alt="Card image cap">
            </div>
            <div class="card-body">
              <h5 class="card-title">{{member.name}}</h5>
              <div class="card-text">
                <div >{{member.position}}</div>
                <span class="hr-line"></span>
                <span>{{member.desc}}</span>
              </div>
              <div class="card-icon">
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-facebook-f"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-linkedin"></i>
              </div>
            </div>
          </div>
    </div>
    
</div>