.team {
    padding: 60px 100px;
    background-color: #f3f5fa;
    .team-heading{
        font-family: "Jost", sans-serif;
        font-size: 30px;
        font-weight: 700;
        height: auto;
        line-height: 30px;
        text-transform: uppercase;
        color: #37517e;
    }
    .line {
        display: inline-block;
        width: 10%;
        border-top: 0.2px solid #ddd;
        position: relative;
        top: 6px;
        // padding-bottom: 30px;
        margin-bottom: 20px;
    }
    .line::after {
        display: block;
        content: "";
        width: 26%;
        position: relative;
        left: 36%;
        border-top: 2px solid #47b2e4;
    }
    .team-container {
        display: flex;
        flex-wrap: wrap;
        .team-card {
            flex-direction: row;
            width: 47% ;
            padding: 12px;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            border-radius: 2%;
            margin: 26px 20px 0 0px;
            transition:all ease-in-out 0.4s; //upward move smoothly
            .card-img {
                width: 30%;
                overflow: hidden;
                border-radius: 50%;
                // margin: 19px;
                height: 143px;
                width: 143px;
                margin: auto;
            }
            .card-body {
                display: flex;
                flex-direction: column;
                text-align: left;
                .card-title {
                    color: #37517e;
                    font-weight: 700;
                }
                .card-text {
                    .hr-line {
                        display: block;
                        margin: 6px 0;
                        width: 17%;
                        border-bottom: 0.2px solid #ddd;
                    }
                    margin: 0 0 8px;
                }
                .card-icon {
                    display: flex;
                    i {
                        margin: 0 8px 0 0 ;
                        background: #eff2f8;
                        padding:9px;
                        border-radius: 50%;
                        font-size: 13px;
                        color: #37517e;
                        cursor: pointer;
                    }
                    i:hover {
                        background: #47b2e4;
                        color: white;
                    }
                    
                }
            }
        }
        .team-card:hover {
            // top: -5px
            transform: translateY(-5px); //move 5px upward on hover
        }
    }
    
}