<div class="partner">
    <div>
        <img src="../../assets//images/client-1.png" class="client-img">
    </div>
    <div>
        <img src="../../assets//images/client-2.png" class="client-img">
    </div>
    <div>
        <img src="../../assets//images/client-3.png" class="client-img">
    </div>
    <div>
        <img src="../../assets//images/client-4.png" class="client-img">
    </div>
    <div>
        <img src="../../assets//images/client-5.png" class="client-img">
    </div>
    <div>
        <img src="../../assets//images/client-6.png" class="client-img">
    </div>
</div>