@import '@/assets/styles/_helpers.scss';

.partner {
    display: flex;
    flex-wrap: wrap;
    background-color: #f3f5fa;
    @include media-breakpoint-up(md) {
        padding: 0 100px;
    }
    .client-img {
        margin: 0 30px;
        padding: 20px;
        width: 120px;
        filter: gray; /* IE5+ */
        -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
        transition: all .8s ease-in-out; 
    }
    .client-img:hover {
        filter: none;
        -webkit-filter: grayscale(0);
        transform: scale(1.1); //to zoom image on hover
    }
    
}