<div class="about" id="orgAbout">
    <h3>About us</h3>
    <span class='line'></span>
    <div class="about-content">
        <div class="one-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div style="display:flex; flex-direction: column">
                <span style="margin: 5px 0 "><Icon icon="ri:check-double-line" class="double-click" />Ullamco laboris nisi ut aliquip ex ea commodo consequat</span>
                <span style="margin: 5px 0"><Icon icon="ri:check-double-line" class="double-click" />Duis aute irure dolor in reprehenderit in voluptate velit</span>
                <span style="margin: 5px 0" ><Icon icon="ri:check-double-line" class="double-click" />Ullamco laboris nisi ut aliquip ex ea commodo consequat</span>
            </div>
            
        </div>
        <div class="two-content">
            <p class="content-text">Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <form class="form-inline">
                <button class="btn learnmore-btn" >Learn More</button>
              </form>
        </div>
    </div>
    <WhyUs/>
    <SkillComp/>
</div>