@import '@/assets/styles/_helpers.scss';

.footer-container {
    background: rgb(55, 81, 126);
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 32px 12px;
    justify-content: space-between;
    font-size: 14px;
    @include media-breakpoint-up(lg) {
        padding: 32px 100px;
        flex-direction: row;
    }
    .designer {
        color:#47b2e4;
        cursor: pointer;
        &:hover {
            color: #73c5eb;
        }
    }
}