@import '@/assets/styles/_helpers.scss';

.why-us {
    padding: 80px 0;
    display: flex;
    background-color: #f3f5fa;
    flex-direction: column-reverse;
    @include media-breakpoint-up(md) {
       flex-direction: row;
    }
    .why-first {
        width: 100%;
        text-align: left;
        padding: 0 12px 0 12px;
        @include media-breakpoint-up(md) {
            width: 50%;
            padding: 0 12px 0 92px;
        }
        h3 {
            font-weight: 400;
            font-size: 34px;
            color: var(--main-color,#47b2e4);
        }
        .accordion {
            background-color: #f3f5fa;
            .card {
                background-color: #f3f5fa;
                border: none;
                ul {
                    padding:0px;
                }
                li {
                    text-decoration: none;
                    list-style-type:none;
                    margin-bottom: 10px;
                }
                .card-header {
                    border: none;
                    .card-title {
                        font-family: "Poppins", sans-serif;
                        font-size: 17px;
                        line-height: 24px;
                        font-weight: 500;
                        color:#343a40
                    }
                }
                .card-body {
                    background: #fff;
                    padding: 0 20px 20px 20px;
                }
                .my-card{
                    // margin-bottom: 10px;
                    padding:20px;
                    background: #fff;
                }
            }
        }
        .accordion .card-header {
            cursor: pointer;
            a{
                text-decoration: none;
                color: black;
                font-size: 16px;
                line-height: 24px;
                font-weight: 500;
                padding-right: 30px;
                outline: none;
            }
            .card-title {
                .chevron-icon {
                    float:right
                }
            }
        }
        .accordion .card-header:hover {
            a{
                color: #47b2e4
            }
            
        }
        .accordion .card-header:after  {
            /* symbol for "collapsed" panels */
            color:red
        }
    }
    .why-second {
        width: 100%;
        padding: 0 12px;
        @include media-breakpoint-up(md) {
            width: 50%;
        }
        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }
}