:root {
    --main-color: #37517e;
  }
  
  #app {
    /* font-family: Avenir, Helvetica, Arial, sans-serif; */
    /* font-family: "Open Sans", sans-serif; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }